.R2 {
  &Canvas {
    height: 20em;
    width: 45vw;
  }

  &Control {
    border: 2px inset #433;
    min-height: 20em;
    width: 45vw;

    &-Points {
      border-collapse: collapse;
      text-align: center;

      th, td{
        border: 1px solid #aaa;
        min-width: 4em;
      }
    }
  }

  &Main {
    display: flex;
    justify-content: space-evenly;
  }
}
