.R2 {
  &Canvas {
    border: 3px outset #977;
    height: 45vw;
    width: 45vw;
  }

  &Control {
    &-Points {
      border-collapse: collapse;
      margin-top: 1rem;
      text-align: center;

      th, td{
        border: 1px solid #aaa;
        min-width: 6.5rem;
      }
    }
  }

  &Main {
    display: flex;
    justify-content: space-evenly;
  }

  &Page {
    &-SubTitle {
      display: inline-block;
      margin-left: 2rem;
    }

    &-Title {
      display: inline-block;
    }
  }

  &Side {
    width: 45vw;

    & > .react-tabs__tab-panel--selected {
      min-height: 40vw;
      border: 3px inset #977;
    }
  }
}
