.R2 {
  &Canvas {
    border: 3px outset #977;
    height: calc(90vh - 4rem);
    width: 45vw;
  }

  &Manage {
    &-Points {
      border-collapse: collapse;
      text-align: center;

      th, td{
        border: 1px solid #aaa;
        min-width: 6.5rem;
      }
    }

    &-Title {
      margin: 0.5rem 0 0;
    }
  }

  &Main {
    display: flex;
    justify-content: space-evenly;
  }

  &Page {
    &-SubTitle {
      display: inline-block;
      margin-left: 2rem;
    }

    &-Title {
      display: inline-block;
    }
  }

  &Side {
    width: 45vw;

    & > .react-tabs__tab-panel--selected {
      border: 3px inset #977;
      height: calc(90vh - 6rem);
      overflow-y: scroll;
    }
  }
}
